/* ~~ RESET ~~ */
	ul, ol, dl { 
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
	a img { 
		border: none;
	}
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section { 
	    display: block;
	}

/* KARTA */

.karta {
	margin: 0 auto;
	width: 340px;
	height: 783px;
	-webkit-box-shadow: 1px 1px 20px 0 #dbdbdb;
	box-shadow: 1px 1px 20px 0 #dbdbdb;
	position: relative;
	overflow: hidden;
}

.karta .foto {
	width: 300px;
	height: 415px;
	border: 1px solid #f0f0f0; 
	background: #fff url("img/choinka1.jpg") no-repeat;
	position: absolute;
	top: 20px;
	left: 20px;
	background-size: 100% 100%;
}

.karta h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 26px;
	position: absolute;
	top: 464px;
	left: 48px;
	text-align: center;
}

.karta .line {
	width: 60px;
	height: 1px;
	background: #000;
	position: absolute;
	top: 544px;
	left: 140px;
}

.karta p {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: 22px;
	color: #666;
	position: absolute;
	top: 571px;
	left: 32px;
	text-align: center;
}

.karta h2 {
	font-family: 'PT Serif', serif;
	font-size: 40px;
	color: #900;
	position: absolute;
	top: 625px;
	left: 140px;
	z-index: 2;
}

.karta .cta {
	width: 129px;
	height: 40px;
	background: #fff;
	border: 1px solid #900;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	position: absolute;
	top: 697px;
	left: 104px;
	z-index: 1;
}

.karta .kup {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #900;
	position: absolute;
	top: 709px;
	left: 128px;
	z-index: 2;
}

.anim {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.karta:hover .foto {
	background-size: 103% 103%;
}

.karta:hover .cta {
	background: #900;
}

.karta:hover .kup {
	color: #fff;
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 90px;
	left: 250px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px dotted #900;
	z-index: 3;
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.circle span {
	position: absolute;
	top: 40px;
	left: 12px;
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color: #900;
}




