.btn {
	position: relative;
	width: 200px;
	height: 86px;
}

.btn a {
	display: block;
	width: 200px;
	height: 76px;
}

.btn-top {
	display: block;	
	position: absolute;
	width: 200px;
	height: 66px;
	top: 0;
	left: 0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0;
	outline: none;

	/* gradient fill */
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #cc0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#cc0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#cc0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#cc0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
	
	z-index: 2;
}

.btn-top span {
	display: block;
	position: absolute;
	top: 20px;
	width: 200px;
	font-size: 18px;
	font-weight: 800;
	text-shadow: 0 -1px 0 #333;
	font-family: Tahoma, Arial, sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.btn-shadow {
	display: block;
	position: absolute;
	width: 200px;
	height: 66px;
	top: 10px;
	background: #990000;
	border: 0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 1;
	outline: none;
}

.btn-anim {
	-webkit-transition: all 50ms linear;
	-moz-transition: all 50ms linear;
	-ms-transition: all 50ms linear;
	-o-transition: all 50ms linear;
	transition: all 50ms linear;
}

.btn a:hover .btn-top {
	background: #c00;
}

.btn a:focus .btn-shadow {
	top: 0px;
}

.btn a:focus .btn-top {
/* gradient fill */
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc0000 0%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc0000 0%,#ff0000 100%);  Chrome10+,Safari5.1+ 
	background: -o-linear-gradient(top,  #cc0000 0%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc0000 0%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cc0000 0%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
}



